cmake-build-debug/*
.idea/*

E1-basico/.idea/*
E1-basico/cmake-build-debug/*

E2-Iluminacion/.idea/*
E2-Iluminacion/cmake-build-debug/*
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
